@using Jitter.Web.Models
@model Jitter.Web.Models.JitterUser
@{
    var allTweaks = new List<Tweak>();
    allTweaks = Model.Tweaks.ToList();
    allTweaks.AddRange(Model.Following.Where(item => item.FollowerId == Model.Id).SelectMany(item => item.Following.Tweaks));
}
<div class="col-xs-12 navbar">
    @Html.Partial("_LoginPartial")
</div>
<div class="col-xs-2 leftcolumn">
    <div>
        <img class="img-responsive" src="@Model.PhotoURL" />
    </div>
    Tweaks: @Model.Tweaks.Count <br />
    Followers: @Model.Followers.Count <br />
    Following: @Model.Following.Count<br />
</div>

<div class="col-xs-5 centercolumn">
    <div class="tweakdiv">
        <form action="@Url.Action("Create")" method="post">
            <input type="text" name="Body" />
            <input type="submit" value="New Tweak" />
        </form>
    </div>
    @if (allTweaks.Count == 0)
    {
        <br/>
        <text>You should write a Tweak. Its sort of the point.</text>
    }
    else
    {
        foreach (var item in allTweaks.OrderByDescending(x => x.TweakDate))
        {
            <div class="tweakdiv">
                <div>
                    <a href="Home/u0/@item.JitterUser.Handle">@@@item.JitterUser.Handle</a>
                </div>
                <div>@item.TweakDate</div>
                <div>@item.Body</div>

                <div>
                    <form action="@Url.Action("Delete", new {id = item.Id})" method="post">
                        <input type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        }
    }
</div>
<div class="col-xs-3 rightcolumn">
    @if (Model.Following.Count == 0)
    {
        <text> This is blank. (You should try following someone sometime)</text>
    }
    else
    {
        foreach (var item in Model.Following)
        {
            <a href="Home/About/@item.FollowingId">@item.Follower.Handle</a>
        }
    }
</div>
